DATABASE_URL=postgresql://postgres:postgres@postgres:5432/purrfect_match
JWT_SECRET_KEY=change-me
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
VITE_API_URL=http://localhost:5000/api/v1
POSTGRES_DB=purrfect_match
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PGADMIN_DEFAULT_EMAIL=admin@purrfectmatch.dev
PGADMIN_DEFAULT_PASSWORD=admin123
PORT=5000
